[2020-05-19 15:20] dvdmuckle opened #19 "Clarification on spot data feed configuration"
Hi there, I'm trying to get the spot instance data feed working for a deployment of Kubecost, and I've run into trouble getting it to work fully, part of my confusion lying in how the docs are formatted. For context. this is on a 1.16.0 cluster in AWS, and we are using kiam in order to grant access, rather than access keys and secrets. The IAM role granted to Kubecost is overly permissive in terms

[2020-05-20 04:30] AjayTripathy commented on #19
Hi @dvdmuckle, seems like the spot data feed has been correctly set up. Those log statements are from an optional module that can be configured to find abandoned load balancers and disks. We will add that to our spot documentation and make sure those logs are less confusing in a future release. Sorry for the confusion.

[2020-05-20 13:50] dvdmuckle commented on #19
Awesome, thank you! To be clear, my confusion stemmed from not seeing the confirmation logs noted in the docs, so I wasn't sure if everything was completely functional.

[2020-05-20 15:07] dvdmuckle commented on #19
One final question, does the spot label value need to be set, or can Kubecost rely on empty labels? We label spot nodes with a label that has an empty string as a value.

[2020-05-21 05:13] AjayTripathy commented on #19
That should work-- we haven't tested an empty string in a while. Since node_total_hourly_cost seems to have dropped, I'd say that it works, but let me know if we need to test that more closely.

[2020-05-26 18:37] dvdmuckle commented on #19
Sounds good! I'll make sure to let you know if we run into any more issues.

[2020-07-12 23:56] VishInventor opened #23 "Metrics Issue with Prometheus making it not work"
Hi there.

It is not working for me. I installed using helm 3 on a 3 nodes cluster with K8s version 1.18.4.

When I access the localhost link, it shows the below error at the end of the page:-
Unable to establish a connection with Prometheus at http://localhost:9090/api

Deployment kubecost-prometheus-server has the issue. Its pods is not running. It shows persistent volume claim error.

![image](

[2020-07-13 01:54] dwbrown2 commented on #23
What is the actual error you are seeing? It sounds like you either need to disable PVs or have Prometheus attach to a PV.

[2020-07-13 17:54] VishInventor commented on #23
It is not able to pull the details from the cluster. localhost link shows nothing. I think issue is Prometheus server pod deployment is not working and hence there is no metrics. I would have thought helm would put all the required configs in place. Not sure what to do.

[2020-07-13 18:54] dwbrown2 commented on #23
Yeah, I can't help much without seeing the error. it sounds like this could be your issue though: http://docs.kubecost.com/troubleshoot-install.html#persistent-volume

[2020-10-20 15:15] gouravsw opened #27 "Upgrade from 1.66.0 to 1.67.0 is having issue"
Hello, I am trying to upgrade kubecost from 1.66.0 to 1.67.0 in a cluster where Kubernetes version is 1.13.

As mentioned in document, https://github.com/kubecost/docs/blob/master/thanos-upgrade.md I have done the changes for secret and deployed the same. After that upgrading to version 1.67.0 using helm.
Thanos is getting upgraded to version 0.15.0.

But while upgrade pod cost-analyzer is in pend

[2020-10-20 17:03] AjayTripathy commented on #27
Hi @gouravsw , can you upgrade to 1.67.3 and let us know if this error persists? We moved back to using just a single PV by default to prevent these errors.

[2020-10-20 17:10] dwbrown2 commented on #27
Here's more info on our storage too: https://github.com/kubecost/docs/blob/master/storage.md

Let me know if you have questions on that doc.

[2020-10-20 17:38] gouravsw commented on #27
@dwbrown2 @AjayTripathy Thank you for the inputs. I will try with the latest version of 1.67.3

[2020-10-21 05:25] gouravsw commented on #27
@AjayTripathy It worked with you any issue. Upgrade was smooth. Thank you 👍 , Issue can be closed.

[2020-10-21 11:21] dwbrown2 commented on #27
Glad to hear, @gouravsw! Please reach out at any time if we can help with anything else.

[2020-10-21 11:21] #27 closed

[2020-10-21 16:21] kinihun opened #28 "Wrong cost computation for GPU node"
Hello,
I have a single Azure Standard_NC6 instance in one of my nodepools, it's showing a daily usage cost of over $900. That's more than the monthly cost for that instance.
![image](https://user-images.githubusercontent.com/18234695/96749004-2e854080-13c2-11eb-9528-16c2e6bbc00c.png)

[2020-10-21 16:25] #28 closed

[2020-10-21 21:51] dwbrown2 commented on #28
@kinihun saw you closed this, and just wanted to make sure you are good to go. Let us know if you need anything.

[2020-10-23 21:17] kinihun commented on #28
@dwbrown2
it's still an issue, I created it under cost-analyzer
https://github.com/kubecost/cost-analyzer/issues/3

[2021-01-25 19:34] AjayTripathy opened #55 "Document AWS Reconciliation Methodology"
Document how we join the CUR with providerIds for savings plans, spot nodes, and reserved instances.

[2021-02-03 17:09] csfangy opened #59 "Update Thanos component url"
Thanos component url should be changed to https://thanos.io/tip/components/.

[2021-02-03 17:12] dwbrown2 commented on #59
Just created https://github.com/kubecost/docs/pull/60 to address, thanks so much for reporting!

[2021-02-08 01:42] dwbrown2 commented on #59
Should now be merged! Let me know if we can do anything else here. Thanks again for highlighting this.

[2021-02-08 01:42] #59 closed

[2021-03-29 03:29] chris-ng-scmp opened #74 "kube_pod_container_resource_requests_memory_bytes is DEPRECATED but meanwhile Kubecost required"
I am running cost-model:prod-1.76.0 on a K8S cluster in 1.18

`kube_pod_container_resource_requests_memory_bytes` mertic is DEPRECATED in the latest `kube-state-metrics` version [2.0](https://github.com/kubernetes/kube-state-metrics/blob/release-2.0/docs/pod-metrics.md) , but KubeCost required it

![image](https://user-images.githubusercontent.com/2509212/112783463-f4f7e600-9081-11eb-99f6-6fc4e0ec

[2021-03-29 03:33] dwbrown2 commented on #74
kube-state-metrics 2.0 production release was three days. We have begun investigating and will share updates when they are available!

[2021-04-15 16:36] kishore0709 opened #77 "Where we need to set PV storage class"
Hi Team,

Please let me know in which file we need to put "persistentVolume.dbStorageClass=your-topology-aware-storage-class-name" this entry.

Thanks!
Kishor.

[2021-04-16 02:09] dwbrown2 commented on #77
Hi Kishor, you can set with these two fields:

[code]

More info here: https://github.com/kubecost/cost-analyzer-helm-chart/blob/971a0079ff75e8397aa9627086a5a8fa49c21c56/README.md

Does that help you?

[2021-04-16 15:19] kishore0709 commented on #77
Hi @dwbrown2

I have updated those two fields and I pre-created PV and PVC for kubecost, but when I run kubecost helm it is getting failed with following error:

Could you please suggest how we can resolve this issue.

**Error:**

Error: rendered manifests contain a resource that already exists. Unable to continue with install: PersistentVolumeClaim "kubecost-prometheus-server" in namespace "kubec

[2021-04-16 15:36] dwbrown2 commented on #77
@kishore0709 did you mean to close this issue?

[2021-04-16 16:21] kishore0709 commented on #77
Ah sorry I was by mistakenly closed.

Can you please reopen my issue and help suggest who we can resolve the issue which i mentioned in my last comment.

Thanks!
Kishor.

[2021-04-16 19:26] dwbrown2 commented on #77
Are you trying to using an existing PV or create a new one? If you are trying to us an existing then you shouldn't need to set `storageClass`. If you are trying to create a new one, then you can drop the `existingClaim` reference.

If this not accurate, can you please provide your full values file?

[2021-04-17 07:00] kishore0709 commented on #77
@dwbrown2

I tried both ways(existing PV as well as new PV).
**Note:**
My storage class is EFS, does our kubecost and prometheus supports efs csi ?

**1. **Existing PV :****

As I updated in the previous comment I created PV & PVC for both analyzer and Prometheus pods

and I mentioned that existing PVC in values file(I commented out the storage class line as per your suggestion)

![image](https://

[2021-04-19 01:59] heartTorres opened #78 "Thanos Receivers with Kubecost"
Hi,

We are using Thanos receivers in our cluster.
We have implemented Kubecost, in the documentation, it uses thanos side car in prometheus
but we are using Thanos Receivers to avoid tightly coupled with prometheus.

We'd like to configure the kubecost to use our thanos receivers but I couldn't find in the documentation.
Hope someone can help me.

[2021-04-19 03:02] dwbrown2 commented on #78
Closing as a duplicate of https://github.com/kubecost/cost-analyzer-helm-chart/issues/856

[2021-04-19 03:02] #78 closed

[2021-04-19 03:26] dwbrown2 commented on #77
Can you please share the full set of values that you are supplying?

The `kubecost-prometheus-server` error is not related to the kubecost PV which you are trying to set in this example yaml.

[2021-04-19 07:10] kishore0709 commented on #77
@dwbrown2

I'm not able to send .yaml files here.

Below is the exact error I'm getting for kubecost-prometheus-server

**Error:**

Output: Could not start amazon-efs-mount-watchdog, unrecognized init system "aws-efs-csi-dri"
mount.nfs4: Connection reset by peer
7s Warning FailedMount pod/**kubecost-prometheus-server**-574c76dd-ph6x5 Unable to attach or mount volumes: unmounted volumes=[storage-vo

[2021-04-19 16:37] dwbrown2 commented on #77
It's hard for me to say without seeing the values you are actually passing.

I found this issue, which may be related -- https://github.com/kubernetes-sigs/aws-efs-csi-driver/issues/103

Are there already PVs or PVCs created in the namespace? If so, I would deleted them.

[2021-04-27 08:14] mrliptontea commented on #74
I ran into this too now.

While a stable release of kube-state-metrics v2 was made public only a few days ago, v2.0.0-rc.1 has been the only fully supported version for Kubernetes 1.17 and higher, see https://github.com/kubernetes/kube-state-metrics/tree/v2.0.0-rc.1#compatibility-matrix

Older versions only go as high as 1.16: https://github.com/kubernetes/kube-state-metrics/tree/v1.9.8#compatibil

[2021-04-27 22:29] dwbrown2 commented on #74
ksm v2 was released long after kubernetes 1.17. many users still successfully run ksm 1.x on these builds.

we have an internal design we are discussing for these newer builds!

[2021-04-28 02:03] csfangy opened #83 "Remove mention of needing node-exporter to run core Kubecost"
Node-exporter is optional, not essential to core Kubecost. Please update https://github.com/kubecost/docs/blob/master/architecture.md#kubecost-core-architecture-overview.

It gives you a little extra context on the overview page about what your kubelets are doing, but no core allocation models are affected.

[2021-04-28 02:46] dwbrown2 commented on #83
I've just created https://github.com/kubecost/docs/pull/84 would love to get your feedback!

[2021-04-28 03:33] csfangy commented on #83
Everything LGTM. Line 19 should be also changed to:

`Today, the core Kubecost product can be run with just components 1, 3a, and 3b.`

[2021-04-28 03:38] dwbrown2 commented on #83
thank you! just updated.

[2021-05-13 13:56] csfangy opened #85 "Azure OOC Documentation Step 3 still references AWS Tags"
Step 3: Tagging Azure resources

The table still refers to "AWS Tags."

[2021-05-14 20:17] DerrickMartinez commented on #74
ksm v2 release is coming up on 2 months soon. Any update?

[2021-05-14 20:51] mrliptontea commented on #74
`kube_pod_container_resource_requests` metric has been present in ksm since 1.9 so it's available to all currently supported versions of ksm and Kubernetes.

[2021-05-14 20:54] mrliptontea commented on #74
Correction they've been added in [v1.4.0-rc.0](https://github.com/kubernetes/kube-state-metrics/blob/v2.0.0/CHANGELOG.md#v140-rc0--2018-08-06).

There is really no reason to keep `kube_pod_container_resource_requests_cpu_cores` and `kube_pod_container_resource_requests_memory_bytes`.

[2021-05-18 04:31] dwbrown2 commented on #74
There is a reason to keep these metrics. It's because we support users running older builds and many users have dropped these metrics historically.

We're working on this for both cadvisor and ksm now.

[2021-05-18 05:19] dwbrown2 commented on #85
thanks @csfangy!

@kbrwn would you be able to take this one? I believe this is reference -- https://github.com/kubecost/docs/blob/master/azure-out-of-cluster.md#step-3-tagging-azure-resources

[2021-05-19 17:37] pierluigilenoci commented on #74
All versions of Kubernetes below 1.19 have come to EOL:

* 1.16: 2 September 2020
* 1.17: 30 January 2021
* 1.18: 30 April 2021

Version 1.19 still has a little over 4 months of life and 1.20 just 7 months. The clock runs fast.

I understand the will to maintain backward compatibility but it shouldn't happen to the detriment of those who update their clusters. 😉

[2021-05-19 22:32] dwbrown2 commented on #85
Kyle, know you're crazy busy so went ahead and knocked this out quickly with https://github.com/kubecost/docs/commit/4cfc60c5b2dbd8e8bf2bb89994213b86af00ba78. Let me know if you guys see any other references.

[2021-05-19 22:32] #85 closed

[2021-05-20 00:09] #83 closed

[2021-05-22 06:40] zou-weidong opened #88 "Didn't find image tag checks:prod-1.80.x"
Hi Team,

I didn't find image tag  **prod-1.80.1** in quay.io/kubecost1/checks at  the latest helm chat.

Thanks!
August.

![image](https://user-images.githubusercontent.com/23339589/119217034-1ae1ba00-bb0a-11eb-9d98-345910f1932b.png)

[2021-05-23 23:04] dwbrown2 commented on #88
@zou-weidong this cronjob was actually deprecated in 1.79 ([release notes](https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.79.0)) and is now disabled by default.

This functionality has now been moved to the core Kubecost pod!

[2021-05-26 10:07] mhulscher commented on #74
Great to see that this is being worked on. We're suffering from the same issue. For reference:
* we've been running EKS 1.19 for a month now and we're looking to upgrade to 1.20 in the near future
* we're running kube-state-metrics:v2.0.0 as installed by https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-prometheus-stack

[2021-05-26 10:10] mhulscher commented on #74
Follow-up question: does kubecost expose a single API that we can query to tell us if it is missing metrics? Something like a health-check? We could adopt this in our own e2e tests before upgrading any other components (kube-prometheus-stack, k8s, etc).

[2021-05-26 15:44] pierluigilenoci commented on #74
@mhulscher I discovered them digging inside the Kubecost UI, checking the API call ;)

<img width="924" alt="Screenshot 2021-05-26 at 17 42 24" src="https://user-images.githubusercontent.com/36044817/119690274-d0ce4080-be49-11eb-8f4d-ce32d5358227.png">

Check the `/diagnostics.html` page of the UI.

[2021-05-26 15:55] mhulscher commented on #74
@pierluigilenoci I found these as well, but these are unreliable and likely to change in the future. These queries still rely on the (as of now) deprecated metrics from cAdvisor en kube-state-metrics. I would prefer an API-call that performs all required queries and tells me whether they have succeeded or not.

[2021-05-26 16:01] pierluigilenoci commented on #74
If you want that I think the only solution is to open a feature request. 😜

[2021-05-26 21:07] dwbrown2 commented on #74
Yeah, might be worth discussing in a separate thread. We recommend our [diagnostic alert](https://github.com/kubecost/docs/blob/master/alerts.md#type-kubecost-health-diagnostic) as a general purpose solution.

[2021-06-04 12:09] FrederikNS opened #91 "Add instructions for setting up the Athena Database and Table"
The AWS Cloud Integration explains that you have to supply the Athena Database and Table, and explains that these were created in the `Step 2: Setting up the CUR`, however `Setting up the CUR` is actually `Step 1`, and additionally that step never details how to set up the database and table. The following `Step 2: Setting up Athena` also doesn't detail how to create this database and table.

http

[2021-06-07 03:10] dwbrown2 commented on #91
I agree that this needs to be corrected and also clarified.

@AjayTripathy is this created as part of "Setting up Athena"?

Any chance you would be able to update docs?

[2021-07-09 08:28] FrederikNS commented on #91
Has there been any progress on this?

[2021-07-09 15:33] kirbsauce commented on #91
Apologies for the delayed action on this issue.  You're correct, there are some inaccuracies.  The settings you're referring to should be related to the Athena setup, as opposed to the CUR setup.  I'll be working on some doc updates.

Thanks for taking the time to contribute to the improvement of our user experience and, again, sorry for the delay.

[2021-09-06 19:54] robertgates55 opened #125 "Some Athena queries failing with Permission Denied error"
I've followed the docs to set up AWS cost reporting. Am running the latest cost-analyzer helm chart (1.85.3)

I can see in the Athena in my master billing account some of the queries are completing, but others are failing with:
[code]

As far as I understand it, this is kubecost (via athena) trying to _read_ from that parquet file when executing a query? It's got the following permission:
[code]

[2021-09-06 20:20] AjayTripathy commented on #125
Hi Robert, are those the permissions in the master payer account? Could you share the sub-account permissions as well as a bug report? https://github.com/kubecost/docs/blob/master/bug-report.md

[2021-09-06 21:13] robertgates55 commented on #125
Yep - that's the master payment account (702****25825) policy.

In the subaccount (250****71116):
[code]

Bug report:
[kubecost-bug-report-1630962556725.txt](https://github.com/kubecost/docs/files/7117814/kubecost-bug-report-1630962556725.txt)

[2021-09-06 22:45] AjayTripathy commented on #125
Hi Robert, based on our docs it looks like the S3ReadAccessToBillingData permissions is a prefix:
[code]

You have
[code]

Can you try
[code]
?

[2021-09-07 08:54] robertgates55 commented on #125
Awesome - yeah - that was the issue, thanks. Got questions about how that data is presented, but I'll ask that in another ticket. Thanks

[2021-09-07 08:54] #125 closed

[2021-09-07 09:04] robertgates55 opened #126 "External costs - AWS master-payer pattern clarifications"
I've got a master-payer account structure, with subaccounts for eg Dev, QA, Prod, etc. Each cluster in each subaccount runs it's own kubecost cost-analyzer deployment.

Am I right in thinking that the 'external' costs that get pulled in from AWS will be for _all_ accounts (as per the CUR being exported and queried over?). I can see a lot of things in the QA QA1 cluster's 'Assets' view that I presu

[2021-09-07 09:59] robertgates55 commented on #126
Follow-up Q: my cluster is named `qa-qa1` but I see on the assets view `qa-qa1/cluster-one`. What `kubernetes_cluster` tag should I be using in AWS to associate resources to this cluster?
![image](https://user-images.githubusercontent.com/7437497/132325783-4adfa185-2409-43b9-985d-357622ede1de.png)

[2021-09-07 16:59] kbrwn commented on #126
@robertgates55 Yes, assets view will show all aws resources from the cost and usage report. You should be able to filter in assets to isolate to a single cluster by name. So in this case you'd pass "cluster-one".

[2021-09-07 17:08] robertgates55 commented on #126
Really? Where does the `cluster-one` come from though? I don't have any clusters called 'cluster-one' - the cluster is called `qa-qa1`?

(if I labelled it as `cluster-one` I presume that in my prod-prod1 instance of cost-analyzer I'd end up with `prod-prod1/cluster-one` also pulling that in, for example...)

[2021-09-07 17:33] kbrwn commented on #126
@robertgates55 How are you defining the cluster name? 'cluster-one' is the default value that used by this chart for cluster identification. You can modify this [value](https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/values.yaml#L378) to provide unique names for each cluster.

[2021-09-07 18:32] robertgates55 commented on #126
In my helm values.yaml, I'm defining this:
[code]

What is that name vs the `prometheus.server.global.cluster_id` (which is set to `cluster-one`)?

[2021-09-07 18:41] kbrwn commented on #126
@robertgates55 `clusterName` is used to update the UI/frontend. cluster_id in the prometheus section is used for associating metrics with a cluster.

[2021-09-09 08:40] pierluigilenoci commented on #74
Can this issue be closed?

[2021-09-13 16:31] kbrwn commented on #126
@robertgates55 do you need any more help with this?

[2021-09-20 22:09] AjayTripathy commented on #74
Yes, I believe so.

[2021-09-20 22:09] #74 closed

[2021-09-23 17:28] #126 closed

[2021-11-24 04:25] mpsanj opened #149 "Deployment controllers and service section data not showing up in kubecost dashboard"
Hi Team, we have been looking into kubecost for getting cost in AKS at namespace level, and it sounds like a good fit for our needs.
Deployment controller aren't be identified,  gets into a generic section called no controllers as shown in the image, why is this happening ?
<img width="1197" alt="kubecost-screenshot" src="https://user-images.githubusercontent.com/43144863/143174569-52bc7aae-9b5d-4

[2021-11-24 04:35] #149 closed

[2021-11-24 04:36] mpsanj commented on #149
Sorry open the issue in the wrong repo section.

[2022-01-06 17:30] souenzzo opened #156 "Clarify requestSizing API targetCPUUtilization parameter"
In this docs

https://github.com/kubecost/docs/blob/3a61e569e60ec30671240efb7970a17959e4afaa/api-request-right-sizing.md

It says that `targetCPUUtilization` should be between 0 and 1.
It does not say if this range is exclusive `(0, 1)` or inclusive  `[0, 1]`
It actually behaves in a odd way:
- `0` returns 500: error: RecommmendRequestSizesMaxHeadroom: expected target CPU utilization to be > 0, wa

[2022-01-06 17:46] kbrwn commented on #156
hi @souenzzo Thank you for this very helpful report. We will update the docs to provide further clarity on this topic soon.

[2022-01-06 18:08] souenzzo commented on #156
An extra question:

- do `window` support `2d3h`? does it support [ISO8601](https://en.wikipedia.org/wiki/ISO_8601#Durations) or some other date/time/duration representation specification?

[2022-01-06 18:20] kbrwn commented on #156
@souenzzo `2d3h` is not valid. You can pass ISO8601 dates like: `window=2021-12-01T00:00:00Z,2021-12-18T00:00:00Z`

[2022-01-06 21:31] michaelmdresser commented on #156
Hi @souenzzo, I've opened https://github.com/kubecost/docs/pull/159 to improve the documentation for this API. Let me know if this addresses your concern!

[2022-01-06 22:37] souenzzo commented on #156
Some future concerns

Can `targetCPUUtilization` be returned in the response?

As it default value is configurable, it basically impossible to know the value used to a request without a `targetCPUUtilization` parameter

Also, if `targetCPUUtilization` is present in the response, will be possible to know if the `parseFloat` was successful, or if it failed silently.

(applies to every other paramter

[2022-01-06 23:16] michaelmdresser commented on #156
I agree that this parsing behavior is really bad. I've opened https://github.com/kubecost/cost-analyzer-helm-chart/issues/1197 to track this, including your ideas.

As far as the `window` parameter goes, I appreciate this recommendation. The way we've parsed `window` has been fixed for a little while, see https://github.com/kubecost/cost-model/blob/d2ea7c577c03997a57f84b7384fc91fedf2a0197/pkg/kube

[2022-01-11 18:12] AjayTripathy commented on #91
Hi @MarjanJordanovski you can check the /assets.html page in the community edition of kubecost to view cloud asset data.

Closing out this issue since the documentation has been updated and should be usable, but feel free to reach out to us on our regular support channels if you have further questions! https://join.slack.com/t/kubecost/shared_invite/enQtNTA2MjQ1NDUyODE5LWFjYzIzNWE4MDkzMmUyZGU4Njkw

[2022-01-11 18:12] #91 closed

[2022-01-29 20:34] obowersa opened #165 "The currrent documentation website has limited discoverability/support for hierachal documentation"
Ref: https://github.com/kubecost/cost-model/issues/781

This might need split into two issues.

The initial question I had was: For documentation ( such as how to integrate kubecost's alerting with MS Teams) where in the documentation hierachy should this go. I think at the moment it would either be in the alerting.md file.

This has lead to a larger question on my side: Is the architect theme bei

[2022-01-29 22:23] srpomeroy commented on #165
@obowersa We are in the progress of moving our docs here: https://guide.kubecost.com/hc/en-us/categories/1500002121181-Documentation
Have you seen this site yet?

We are very much iterating on the design as we go. We've also begun to implement some hierarchy in our docs at the new Guide site. And as mentioned in the other issue, @kbrwn will have some thoughts on the best place to add the MS Teams

[2022-01-29 23:31] obowersa commented on #165
That's awesome! I hadn't seen the guide.kubecost page, was mainly basing it on the docs.kubecost setup. Thanks for the info, I'll close this issue off

[2022-01-29 23:31] #165 closed

[2022-02-03 20:56] kbrwn opened #172 "Set up docs to guide redirect"
@AjayTripathy suggested I create an issue to request an update the docs.kubecost.com dns entry to the redirect server IP (34.83.246.98).

[2022-02-04 22:37] dwbrown2 commented on #172
Sweet, you feel all ready on your end? Any known issues to be aware of?

My only specific question is what's the process for making a contribution? Will this now pick up changes to master in this repo?

[2022-02-08 19:04] dwbrown2 commented on #172
Assigning back to you Kyle for this quick questions.

[2022-02-08 19:43] kbrwn opened #174 "Document prometheus scrape jobs"
Prometheus is deployed with many jobs. Some of these jobs are difficult to determine exactly what is being scraped and why. Some jobs seem like they would overlap. Let's try to doc some of these jobs:

https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/charts/prometheus/values.yaml#L1149

https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/v

[2022-02-10 17:14] AjayTripathy opened #175 "Document Sampling Resolution and Tradeoffs"
Kubecost has a tunable sampling resolution to capture short-lived pods more accurately. Let's document where to set this, how much extra memory it needs, etc.

[2022-02-10 20:16] kbrwn commented on #172
@dwbrown2 The process for making a contribution is the same. The only difference is master branch needs to be replaced will be replaced by main branch as default in this repo and all commits need start using main going forward. This is to follow the 2022 github repo standards as well which prefer main to master for default branch.

When a new push to main branch occurs a Github Action will be kick

[2022-02-10 20:27] dwbrown2 commented on #172
Boom! That's awesome. And sounds like no other known limitations with rendering markdown?

@AjayTripathy do you want to switch default branch and then I can redirect DNS? If so, give me a heads up before you do so that we can coordinate.

[2022-02-11 17:43] kbrwn commented on #172
@dwbrown2 The only current limitation is <details> tags which have to use HTML instead of markdown inside the <details></details> tag to be formatted correctly.

[2022-02-11 21:04] AjayTripathy commented on #172
We're ready to do this, no need to switch the branch right now. Please redirect the DNS.

[2022-02-14 21:52] dwbrown2 commented on #172
@AjayTripathy mentioned he was going to review getting links like http://34.83.246.98/saved-reports to function

[2022-02-15 03:12] AjayTripathy commented on #172
Kyle's on it!

[2022-02-16 17:47] dwbrown2 commented on #172
Awesome! @AjayTripathy did you say that you want to review relative images links?

We're now getting close to a big launch announcement... how about we aim to make this transition soon after if you're good on images?

[2022-02-22 19:16] AjayTripathy commented on #172
Fixed up relative image links except for a few that are out of date anyway. I'm ready to launch this.

[2022-02-24 00:17] AjayTripathy commented on #172
Searched all ".pngs" and made sure they were either specified by an absolute path or irrelevant/outdated.

[2022-02-25 17:54] kirbsauce commented on #172
@dwbrown2 , can we get the redirect done so we can close this out?  As I understand you are the only one w/access to the button.

[2022-02-28 19:46] dwbrown2 commented on #172
@stacy-tumarkin would you be able to do this transfer? My vote is that we do it towards the end of the week when we have less traffic.

[2022-03-03 22:47] stacy-tumarkin commented on #172
On it! @kbrwn @kirbsauce what testing do we need to do once it's live? When (e.g. a specific time) do you want the redirect in place ideally so we're all available to test?

[2022-03-04 20:32] kbrwn commented on #172
@stacy-tumarkin The redirect server at 34.83.246.98 is live. You can test the redirects by visiting 34.83.246.98/doc-name (ie 34.83.246.98/saved-reports or 34.83.246.98/saved-reports.html). Changing the DNS A Record for docs.kubecost.com to this IP will mean that docs.kubecost.com/saved-reports will hit the redirect server and redirect to the corresponding guide page. This can be tested by visitin

[2022-03-04 20:46] kirbsauce commented on #172
thanks @kbrwn.  Sounds pretty straightforward but I'm happy to be online as a tester.

[2022-03-04 21:44] stacy-tumarkin commented on #172
So is now a good time to get the redirect going?

[2022-03-05 00:14] dwbrown2 commented on #172
It appears this now done?

Why are we not doing a permanent redirect from docs.kubecost.com and preserving the URL? Current approach may have negative seo impact and the URLs are less human readable.

[2022-03-05 00:17] dwbrown2 opened #192 "New docs site footer styling is off"
It looks like the background color is wrong.

![image](https://user-images.githubusercontent.com/298359/156858571-b624b0ce-c22c-4b8c-be2b-7886c4b2a17d.png)

When you hover on icons they are no longer visible.

@kbrwn are you best to tackle?

[2022-03-05 00:21] dwbrown2 opened #193 "The order of navigation links should be improved"
We should at re-ordering these links. See examples below.

* Spot guide is probably not the best starting point after our Welcome guide.
![image](https://user-images.githubusercontent.com/298359/156858833-9b7d0cd4-04a5-4d6a-a52d-179d6b9a0945.png)

* Installing Kubecost with Rafay is not the first link we would want to show under `Setup`.
![image](https://user-images.githubusercontent.com/298359/15

[2022-03-05 00:21] dwbrown2 commented on #193
@kbrwn what's the best way to get these updated?

[2022-03-05 00:23] kbrwn commented on #192
@stacy-tumarkin might be better equipped for this one although I can take a try at it if you like.

[2022-03-05 00:24] dwbrown2 commented on #192
SG, @stacy-tumarkin let me know how I can help. Looks like it's only happening at https://guide.kubecost.com/hc/en-us and not on other pages...

[2022-03-05 00:24] kbrwn commented on #193
@dwbrown2 If you post an order here that you'd like I can update it.

[2022-03-05 00:41] kbrwn commented on #192
@stacy-tumarkin I redirected docs.kubecost.com directly to the welcome doc temporarily to get around this for now. Interesting that it only happens at https://guide.kubecost.com/hc/en-us directly.

[2022-03-05 00:45] dwbrown2 commented on #192
@kbrwn that def looks better! but even there the icons change to the bg color on hover

[2022-03-05 00:46] dwbrown2 commented on #193
Cool, happy to make some suggestions but also totally open to debating/discussing!

[2022-03-05 01:03] dwbrown2 commented on #193
And just to clarify are all docs pages in the navigation panel?

[2022-03-05 01:41] kirbsauce commented on #172
@dwbrown2 , I get redirected to "guide" when going to "docs" from an incognito window.

[2022-03-05 03:04] dwbrown2 commented on #172
Yeah, I thought we were point docs.kubecost.com to a new IP and therefore keeping our existing subdomain and user-friendly URLs...

[2022-03-06 23:39] stacy-tumarkin commented on #172
@kbrwn was having issues with TLS, this is a temporary workaround until he gets the permanent solution in place Monday.

[2022-03-07 20:49] kbrwn commented on #193
@dwbrown2 All markdown docs that are on the `main` branch of this repo are uploaded to help center and are available in the navigation.

[2022-03-11 19:14] dwbrown2 commented on #193
@kbrwn I've started this doc to list what I think could be good top N items under these categories... https://docs.google.com/document/d/1YOkNpRWtXhmetulucovR5ypqp7Ahgm4jXvRyXMUfO08/edit#

are you ok to run with it from here?

[2022-03-11 19:23] kbrwn commented on #172
this is all done! closing!

[2022-03-11 19:23] #172 closed

[2022-03-11 19:27] kirbsauce commented on #172
awesome!

[2022-03-11 19:28] dwbrown2 opened #199 "Should we remove sign in link from new docs site?"
I'm pretty sure this header button isn't relevant to our users. If so, can we remove from this page?

![image](https://user-images.githubusercontent.com/298359/157937792-3052dbae-e54c-49f3-9b71-f1fd314833c7.png)

https://guide.kubecost.com/hc/en-us/articles/4407595950359-Welcome#getting-started-1

[2022-03-11 19:34] kbrwn opened #200 "Updated terminology and clarify aws cloud integration doc"
"Master Payer" is now "Management Account" according to AWS: https://docs.aws.amazon.com/organizations/latest/userguide/orgs_getting-started_concepts.html

Member accounts have [access to the CUR](https://aws.amazon.com/about-aws/whats-new/2020/12/cost-and-usage-report-now-available-to-member-linked-accounts/) if the management account allows it and do not need management account IAM permissions f

[2022-03-11 19:34] dwbrown2 commented on #199
Good to know, didn't realize. Given that do we think it's given the right amount of visual prominence? Seems fine to me...

[2022-03-15 21:15] dwbrown2 commented on #193
@kbrwn anything else you need on this one?

[2022-03-18 16:13] ErnestG4 opened #203 "Document queries run by ETL tool"
It is currently necessary to reference source code in order to determine the queries run by the ETL tool.

A document containing these queries for various platforms may be valuable to users.

It can be referenced as a footnote in the existing ETL docs.

[2022-03-21 18:58] dwbrown2 commented on #203
+1 but also know these can be hard to keep in sync. What do you think by starting with a direct link to source code in docs and then evolving if users need more?

[2022-03-22 23:49] ErnestG4 commented on #203
Sounds good!

[2022-03-23 01:51] kbrwn commented on #199
@dwbrown2 I am happy to adjust it if you prefer it smaller or in another place! Let me know.

[2022-03-23 01:54] kbrwn commented on #193
@dwbrown2 I plan to update the ordering this week. The the future I plan to make ordering configurable via metadata string: https://github.com/kubecost/zd-docs-uploader/issues/5 In an update this week new docs will be placed at the bottom of the section rather than the top.

[2022-03-23 02:34] dwbrown2 commented on #193
Sg, don't feel to strongly about adding another var, as I wouldn't expect these to change too too often.

[2022-03-23 02:34] dwbrown2 commented on #199
Defer to you guys! Don't feel strongly here.

[2022-03-23 18:50] srpomeroy opened #206 "Add notes around AWS S3 Lifecycle Management best practices for cost data"
For the AWS Spot Data Feed and the Athena Results Bucket, we should add some notes around best practices for lifecycle management.

For Athena query results, we use them immediately and don't look at previous results. So long as they are going to a dedicated S3 bucket, lifecycle policies can be used to expire and delete objects after 1 day.

For the Spot data feed, we only use them when pulling cu

[2022-03-25 18:41] dwbrown2 commented on #203
Cool, want to run with this one or can we help get you a hand?

[2022-03-28 19:06] dwbrown2 commented on #206
A big +1 on providing more guidance here. We used to share a couple resources and also talk through different tradeoffs. I do think that different organizations will have different priorities/constraints.

I actually think this issue can be broadened to talk about snapshotting, etc. and data management in general.

@kirbsauce anything we can discuss that you currently use?

[2022-03-28 20:14] kirbsauce commented on #206
Same, +1.  I'm not aware of anyone asking about, or giving, advise on these retention policies, but I think it would be valuable to let them know our usage (only once and it's preserved) and allow them to take this into consideration.  As @srpomeroy mentions, they might have other requirements, but we don't require the added cost.

[2022-03-29 00:58] jcharcalla commented on #206
I'll put together some draft documentation for this.

[2022-03-29 01:05] srpomeroy commented on #206
@jcharcalla Happy to review/contribute. I’ve got them setup on our spot data feed and the demo Athena bucket. And have some thoughts as well based on customer interactions.

[2022-03-29 19:14] dwbrown2 commented on #193
@kbrwn were we able get these updated?

[2022-03-30 23:49] jcharcalla commented on #206
@srpomeroy I'd like to expand this idea beyond AWS to eventually be part of a larger best practices guide. I'm trying to understand what billing data is used for each cloud providers so similar recommendations can be made. I've came up with the following, let me know if I'm off base here.

AWS:

- Cost and Usage Report (CUR): In Amazon the CUR  data is written to a S3 bucket in CSV format for Kube

[2022-03-31 03:00] srpomeroy commented on #206
Love the idea @jcharcalla! I added some comments to the doc.

[2022-03-31 16:53] dwbrown2 commented on #206
Great stuff! Happy to weigh in here @jcharcalla if there's a doc and I can be useful.

[2022-04-08 07:16] theadzik opened #214 "External cost tag is incorrect in Azure out of cluster costs"
Tags got italicized by mistake on pages:

* https://guide.kubecost.com/hc/en-us/articles/4407595936023-Adding-Azure-Out-of-Cluster-Cluster-Costs-into-Kubecost

* https://guide.kubecost.com/hc/en-us/articles/4407596810519-AWS-Out-of-Cluster-

We have kubernetes_label_NAME instead of 'kubernetes_label_NAME'

gz#1635

[2022-04-08 20:10] #214 closed

[2022-04-08 20:14] kbrwn commented on #214
@theadzik Thanks for your contribution. I have merged your pr and the docs have been updated.

[2022-04-20 13:00] AjayTripathy commented on #193
Assigned to @teevans for further triage.

[2022-04-20 13:00] AjayTripathy commented on #192
Assigned to @teevans for further triage

[2022-04-20 18:33] teevans commented on #193
@dwbrown2 - I took a first stab at this - Let me know what you think [Link here](https://guide.kubecost.com/hc/en-us/articles/4407601821207-Installing-Kubecost)

[2022-04-20 18:44] teevans commented on #192
![image](https://user-images.githubusercontent.com/3982846/164300885-75b05681-9a32-4672-8b9b-d59c4355ca04.png)

Think I got this one fixed. @dwbrown2 ?

[2022-04-20 18:46] teevans commented on #199
@dwbrown2 - Have you thought any more on this? I'd say we can keep it for now, but if you know something I don't feel free to share

[2022-04-20 18:47] teevans commented on #55
@AjayTripathy - Is this relevant to [this](https://guide.kubecost.com/hc/en-us/articles/4407596809111-AWS-Node-Price-Reconciliation-Methodology)?

[2022-04-20 22:09] dwbrown2 commented on #199
Yeah, I'm not too concerned about keeping for now. Think it's low priority.

[2022-04-20 22:10] dwbrown2 commented on #192
LGTM!

[2022-04-20 22:12] dwbrown2 commented on #193
Looks like a huge improvement to me! I'm good to call done unless there's anything you want feedback on.

[2022-04-21 13:21] #199 closed

[2022-04-21 13:22] #192 closed

[2022-04-21 13:22] teevans commented on #193
No sir! Closing.

[2022-04-21 13:22] #193 closed

[2022-04-26 20:35] AjayTripathy commented on #55
Yes, I think this can be closed for now.

[2022-04-26 20:35] #55 closed

[2022-05-25 12:49] mattray opened #244 "guide.kubecost.com starts on Windows Node Support instead of a proper Welcome page"
https://guide.kubecost.com/ ends up on https://guide.kubecost.com/hc/en-us/articles/6152374933655-Windows-Node-Support
A better landing page would probably be https://guide.kubecost.com/hc/en-us/articles/4407595950359-Welcome

[2022-05-25 14:36] kbrwn commented on #244
This occurred after reordering of sections and docs done via Admin console without any testing for how upload code would be effected. Currently when a new doc gets uploaded it takes the first position in the section rather than the last. I plan to fix this by adding the zendesk api position parameter to this struct: https://github.com/kubecost/zd-docs-uploader/blob/main/main.go#L56-L63 and setting

[2022-05-25 15:26] dwbrown2 commented on #244
Thanks for reporting Matt and for fixing Kyle!

Did you mean https://guide.kubecost.com/ in this section?

cc @teevans

[2022-05-25 15:38] kbrwn commented on #244
@teevans @dwbrown2 I have added the needed position parameter to the createArticle function. New docs will now upload to the bottom of the section on first upload! Not sure why it didn't work for you...I plan to expand this to the updateArticle function to allow for reordering via metadata next.

If we want the "General" section to be the first. I propose we move the "Welcome" doc to this section

[2022-05-25 15:47] dwbrown2 commented on #244
I believe @AjayTripathy created this particular article. Adding him just in case he did something special :)

[2022-05-25 15:49] kbrwn commented on #244
@dwbrown2 I do not believe Ajay did anything abnormal. He added the .md file to this repo with no metadata so it was uploaded to general at the top of the section. With the new code this doc would be uploaded to the bottom position in the General section.

[2022-05-25 15:53] teevans commented on #244
This may help actually - Looks like the position parameter is a sortable position on the API, but I didn't find any documentation surrounding its use on the actual GUI. Also looks like the guide ordering is limited to a few parameters judging by this screenshot.

<img width="530" alt="image" src="https://user-images.githubusercontent.com/3982846/170305013-745426c9-87b3-4aaa-833d-d275ae7d56a6.png">

[2022-05-25 16:06] kbrwn commented on #244
@teevans I tested my code: https://guide.kubecost.com/hc/en-us/articles/6322872179223-Test
<img width="251" alt="Screen Shot 2022-05-25 at 10 05 33 AM" src="https://user-images.githubusercontent.com/4100493/170307402-d4508816-c089-471c-bbee-067420e02c9d.png">

[2022-05-26 00:06] mattray commented on #244
Sounds great, thanks!

[2022-05-26 00:06] #244 closed

[2022-06-13 14:00] iswarmondal opened #263 "The navbar is overflowing"
On the landing page of Kubecost.com, the navigation bar is overflowing to the x-axis on mobile phone browsers.
It is causing really bad UX.

If you want I could create a PR for this.

gz#1960<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/1960'>Zendesk ticket #1960</a>)</i>

[2022-06-14 02:39] dwbrown2 commented on #263
Thanks for reporting. Is this related to the kubecost application, kubecost.com or something else?

[2022-06-14 02:40] dwbrown2 commented on #263
@AdamStack18 noticed this was missing triage tag

[2022-06-14 03:20] iswarmondal commented on #263
Yeah, It's related to Kubecost.com, the website.
The problem is happening for the mobile web browsers.

[2022-06-14 03:29] dwbrown2 opened #265 "Broken docs URLs"
I'm unable to access docs site at https://www.docs.kubecost.com/

I believe this worked correctly before the guide rerouting was setup.

[2022-06-14 03:30] dwbrown2 commented on #263
Any chance you can send a screenshot or more info on device/resolution? I'm not able to repro:

<img width="541" alt="image" src="https://user-images.githubusercontent.com/298359/173487591-506802aa-112a-49ec-9ca1-f989abfe2386.png">

[2022-06-14 03:39] iswarmondal commented on #263
Yeah sure,
#### This is on the iPhone XR preset (414px * 896px)
#### I tried on my phone and the same thing is happening on an actual phone also.

![image](https://user-images.githubusercontent.com/73457704/173488090-04be4564-813b-44b2-8738-f919c0b7518b.png)

[2022-06-15 14:07] AdamStack18 opened #269 "New issues missing triage tag"
Issue
A new issue was missing the needs-triage tag.

_Originally posted by @dwbrown2 in https://github.com/kubecost/docs/issues/263#issuecomment-1154646021_

Soltion
Install GitHub bot in docs repository.

[2022-06-15 14:09] AdamStack18 commented on #269
Next Action: Install Github Bot.

[2022-06-15 14:17] AdamStack18 commented on #263
@iswarmondal Thanks for your help troubleshooting this issue.  Not able to repo on my side as well. Could you share the web browser you are using?

[2022-06-15 15:13] AdamStack18 commented on #269
Closing because GitHub action PR was merged after the linked issue.

[2022-06-15 15:13] #269 closed

[2022-06-15 15:17] AdamStack18 commented on #263
@dwbrown2 Thanks for the heads up. The bot PR was most likely merged after this issue was created.

[2022-06-15 15:52] dwbrown2 commented on #263
I'm able to repro! @teevans this property has much more mobile traffic so might be worth exploring a fix soon. Let us know what you think.

<img width="601" alt="image" src="https://user-images.githubusercontent.com/298359/173871367-74ccf93f-8083-4b11-aa43-0965a1fa9723.png">

[2022-06-15 16:23] iswarmondal commented on #263
If you want I can take a shot at this and create a PR of the fix

[2022-06-15 18:21] teevans commented on #263
Hey @iswarmondal - I'm working on a fix for this right now! Thanks so much for pointing this out!

[2022-06-16 01:11] iswarmondal commented on #263
@teevans sure.

[2022-06-16 16:47] kranurag7 opened #271 "Markdown not rendering properly on the docs website"
This issue is with respect to the getting started [page](https://guide.kubecost.com/hc/en-us/articles/4407595947799-Getting-Started) If we look at the cost optimization section on this page then it's confusing to me. With too many numbers and prices floating around, it's very easy to get confused and one have to repeat the reading. Overall, for me, I have to read it thrice to get it.

![Screenshot

[2022-06-16 17:06] kranurag7 commented on #271
codeblocks, backticks and links are not rendering as well.

[2022-06-16 18:21] kbrwn commented on #271
@kranurag7 Thanks for reporting this. This page was recently updated to use `<details></details>` html tags to create drop down menus which does not render then same on guide.kubecost.com as github currently. We will work on getting this updated to be properly formatted.

[2022-06-16 18:27] kbrwn commented on #265
fixed!

[2022-06-16 18:27] #265 closed

[2022-06-23 20:38] jessegoodier opened #280 "GH not pushing to ZD / job failing"
https://github.com/kubecost/docs/actions

[2022-06-24 08:36] AjayTripathy commented on #280
@teevans for triage

[2022-06-25 05:20] lupanagora opened #281 "question for optimization the suitable request"
refer to : https://github.com/kubecost/docs/blob/main/api-request-right-sizing.md
there a section with words below:
 "Within the query window, the pod could haved saved: 2 cores * (15min / (60 min/hr)) = 0.5 core-hours 0.67 core-hours * $7/core-hour = $3.50 "
and im confused , if "0.5 core-hours 0.67 core-hours * $7/core-hour " should be "0.5 core-hours * $7/core-hour" and gave the result " = $3.5

[2022-06-25 12:10] #280 closed

[2022-06-27 17:03] #281 closed

[2022-06-30 22:44] Adam-Stack-PM commented on #263
Closing out. Fixed in https://github.com/kubecost/kubecost-website/pull/42

[2022-06-30 22:44] #263 closed

[2022-07-07 00:03] bwhaley commented on #271
Semi-related - I also noticed that expanding the sections on the left of the docs site and then clicking one of the subheadings will then collapse the section again. This makes for a disjointed reading experience because you need to constantly expand a section, find the subheading, click, read, repeat with the next subheading.

[2022-07-07 00:09] bwhaley opened #290 "Confusion about storage requirements"
The storage configuration documentation states the following:

Is my arithmetic wrong, or does the example actually suggest 4GB is needed rather than 40GB?

2bytes per sample * 100k samples per minute * 15 days (21,600 minutes) = 4320000000 bytes = 4.32GB

gz#2123<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2123'>Zendesk ticket #2123</a>)</i>

[2022-07-07 16:27] keithhand commented on #290
Hi @bwhaley, I believe that math adds up to me as well. Let me submit a PR and get it in front of engineering to get another opinion and possibly get this tweaked. Thank you!

[2022-07-11 13:13] frankjwk opened #299 "AWS Spot Instance Not Showing"
Hi there, about a week ago I configured the AWS integration and permissions. I was able to view which EKS nodes were spot instances and their different hourly rate, but recently I could not view these. Could someone look into this?

gz#2146<br><br><i>(related to <a href='https://kubecost.zendesk.com/agent/tickets/2146'>Zendesk ticket #2146</a>)</i>

[2022-07-11 17:13] kirbsauce commented on #299
Hi @frankjwk.  Thanks for posting!  We'll dig into this right away.

[2022-07-12 20:38] nealormsbee commented on #271
Hi folks 👋

We're looking at fully transitioning our documentation to a different platform for a smoother experience in the coming weeks. I don't have an exact timeline for you, but it will be sooner than later, and we hope to address these formatting issues and more. Thanks for bearing with us in the meantime.

@teevans I've added this issue to the Frontend-Team backlog, because I believe our gro

[2022-07-12 23:41] #290 closed

[2022-07-15 18:33] dwbrown2 commented on #299
@kirbsauce any insights that you can share? Let us know how we can help.

[2022-07-15 20:28] zorrobyte commented on #299
Hey @frankjwk ! I'd love to help to get to the bottom of this; could you share what version you are running?

Note that we had some pretty big changes in our latest release:
https://github.com/kubecost/cost-analyzer-helm-chart/releases/tag/v1.95.0

Would you mind giving it a go and let us know?

[2022-07-21 20:50] Adam-Stack-PM opened #304 "Event triggers and notifications docs"
Create a complete list of both internal and external event triggers and notifications. Then determine if there are additional items we would like to add.

**Related Issues**
https://github.com/kubecost/cost-analyzer-helm-chart/issues/1319
https://github.com/opencost/opencost/issues/264
https://github.com/kubecost/cost-analyzer-helm-chart/issues/1252

**Related PRs**
https://github.com/kubecost/kub

[2022-07-21 20:51] Adam-Stack-PM commented on #304
@sundeepghuman Possible documentation catchup work from past releases.

[2022-09-02 16:49] dwbrown2 opened #333 "Update AMP docs"
Let's reflect changes in https://github.com/kubecost/cost-analyzer-helm-chart/pull/1643 in latest AMP docs. @linhlam-kc would you still be up for taking this one? Thanks again for offering.

[2022-09-02 16:57] linhlam-kc commented on #333
@dwbrown2 I can do it. I will submit my PR within Monday/Tuesday next week and merge it once the PR https://github.com/kubecost/cost-analyzer-helm-chart/pull/1643  is merged into our next release.

[2022-09-09 00:38] kharyam opened #346 "Typo in Red Hat OpenShift Installation Docs"
Instead of "Redhat OpenShift" it should be "Red Hat Openshift". I will submit a PR.

[2022-09-09 00:45] #346 closed

[2022-09-14 01:57] florentio opened #350 "Broken links in AWS Cloud Integration documentation"
There are some broken links in the [AWS Cloud Integration](https://guide.kubecost.com/hc/en-us/articles/4407595928087-AWS-Cloud-Integration)

Precisely in [Step 4: Attaching IAM permissions to Kubecost](https://guide.kubecost.com/hc/en-us/articles/4407595928087-AWS-Cloud-Integration#step-4-attaching-iam-permissions-to-kubecost) section  `Attach via Pod Annotation on EKS`

[2022-09-14 19:19] nikovacevic commented on #350
Hi @florentio -- thank you for reporting this! Looks like the AWS docs have moved some pages around. We'll try to update these docs ASAP.

Specifically, it looks like we've got broken links in this passage:

The broken links are:
* https://docs.aws.amazon.com/eks/latest/userguide/create-service-account-iam-policy-and-role.html
* https://docs.aws.amazon.com/eks/latest/userguide/specify-service-acco

[2022-09-14 19:20] nikovacevic commented on #350
Oh, looks like @florentio has also opened a PR: https://github.com/kubecost/docs/pull/351

[2022-09-14 19:21] nikovacevic commented on #350
Maybe @bstuder99 can review?

[2022-09-14 19:26] dwbrown2 commented on #350
@linhlam-kc also an expert here!

[2022-09-14 23:00] bstuder99 commented on #350
Has somebody already corrected the links? I'm checking the links of the designated section and they all seem to be working.  PR #351 which addresses this hasn't been merged yet.

[2022-09-14 23:04] florentio commented on #350
The link are working but are not targeting the right topic. So the bug is to fix it replacing the link by the right one

[2022-09-16 07:26] linhlam-kc commented on #350
@bstuder99 @dwbrown2 I reviewed the PR and merge it into our doc. Btw, I think the step 4 also need some improvement using AWS CLI to simplify the process. I will open another new issue for the enhancement.

@florentio Thank you for reporting the bug and contribute to update our doc. I merged the PR #351 so it should fix this bug now.

[2022-09-16 07:37] linhlam-kc opened #353 "Simplify "Attach via pod Annotation on EKS" process"
This step https://github.com/kubecost/docs/blob/main/aws-cloud-integrations.md#step-4-attaching-iam-permissions-to-kubecost need to be simplified by providing AWS CLI  commands to help customer following the instructions easier.

[2022-09-16 23:25] florentio commented on #350
Yes it is. Thanks

[2022-09-20 19:37] Adam-Stack-PM commented on #304
@bstuder99 possible doc opportunity for you when you have time.

[2022-09-21 15:20] bstuder99 commented on #304
Ok, I'll have to table this for now but let me revisit this in a few days.

[2022-09-21 17:12] mmurph3 opened #359 "How to Set up CUR integration in AWS Gov Cloud"
[AWS S3 CUR Integration.pdf](https://github.com/kubecost/docs/files/9618950/AWS.S3.CUR.Integration.pdf)
Need documentation around this process

IAM Roles Anywhere is NOT supported for non AWS workloads: https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_common-scenarios_non-aws.html

The CUR would need to be created in the commercial account and transferred over to an s3 bucket in govcloud

[2022-09-22 17:23] AjayTripathy opened #360 "Document Write VS Read Routes in Kubecost"
As titled. Here's the enumeration of routes and what is marked as write. https://github.com/kubecost/kubecost-cost-model/blob/develop/pkg/auth/samlauth.go#L269

[2022-09-23 19:29] srpomeroy commented on #359
I don't unfortunately. We've been having a discussion on [Slack](https://kubecost.slack.com/archives/G01MN4R06MB/p1663705282256009).

We are planning on setting up a GovCloud account to test with.

[2022-09-23 19:33] kc-creynold commented on #359
This is a priority.  GovCloud is heavily used by Public Sector.  I am working on getting us AWS GovCloud access and Azure Gov access.  This will take a while as we have to register with DECCS prior to getting GovCloud access.

[2022-09-23 20:15] AjayTripathy commented on #359
@kc-creynold can we take our best stab at documentation until we can get the account set up?

[2022-09-23 21:36] michaelmdresser opened #363 "New docs are failing to publish"
We are unable to publish new docs to guide.kubecost.com right now due to expired credentials. Docs that already exist are still receiving updates.

See e.g. https://github.com/kubecost/docs/actions/runs/3113402788

Technical details of the issue explained here: https://github.com/kubecost/zd-docs-uploader/issues/7. Raising an issue here because this repo has more visibility.

@bstuder99 we were ta

[2022-09-26 15:34] kc-creynold commented on #359
yeah we can take a rough stab

[2022-09-27 22:45] Adam-Stack-PM commented on #363
@srpomeroy, thanks for taking on this issue. Let me know if you need anything.  @michaelmdresser, thanks for the mention and context.

[2022-09-27 23:27] #363 closed

[2022-10-05 15:41] mmurph3 commented on #359
From customer:

For the spot feed, the subscription also has to be created in the public mgmt account.  In public, I created a [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) for kubecost to access the s3 bucket.  This obviously wouldn't work for govcloud to access a s3 bucket in public.  What is the recommended way to access the spot feed data in publi

[2022-10-05 16:53] srpomeroy commented on #359
Adding context from [Slack](https://kubecost.slack.com/archives/G01MN4R06MB/p1664985016156949):

[2022-10-06 01:56] mattray opened #382 "Document federated AWS configuration as a simple diagram or flow chart"
In a recent customer discussion they shared that they were using individual/sub AWS accounts with their cloud-integration.json to allow their primary Kubecost access to the subaccounts' CUR data. It appeared that savings plan data was only available through the master payer account, which they were not using so it was not applied.

The federated AWS configuration and documentation is confusing, a

[2022-10-19 01:02] AjayTripathy opened #393 "Document Network Cost Calclulation Methodology"
1. With just the daemonset enabled
2. With the daemonset enabled + CUR enabled
3.  With just the CUR enabled.

[2022-10-19 18:00] AjayTripathy opened #394 "Document all sliders and options on the new allocation page clearly"
Essentially we want to have clear documentation for every slider on our core cost allocation page clearly defined. I'm envisioning detailed screenshots and samples This would include for example:
1. What are services? https://github.com/kubecost/cost-analyzer-frontend/issues/1179#issuecomment-1284250065
2.  What is idle?
3. How do I make queries for labels
4. How do I query data on a per day basis

[2022-10-19 23:23] AjayTripathy opened #399 "Document https://github.com/kubecost/kubecost-cost-model/issues/928 under ETL Cloud Storage Backups"
https://github.com/kubecost/kubecost-cost-model/issues/928 for context and what config options conflict.

[2022-10-19 23:42] kirbsauce opened #400 "api test"
I'm having a problem with this.

[2022-10-19 23:44] kirbsauce commented on #400
just a test

[2022-10-19 23:44] #400 closed

[2022-10-20 00:10] kirbsauce opened #401 "Doc Candidate - ZD Ticket {{ticket.id}}"
ticket:{{ticket.id}}

[2022-10-20 00:11] kirbsauce commented on #401
testing

[2022-10-20 00:11] #401 closed

[2022-10-20 00:31] kirbsauce opened #402 "Doc Candidate - ZD Ticket"
{{ticket.url}}

[2022-10-20 00:31] kirbsauce commented on #402
testing

[2022-10-20 00:31] #402 closed

[2022-10-20 00:39] kirbsauce opened #403 "Doc Candidate - ZD Ticket 2852"
kubecost.zendesk.com/agent/tickets/2852

[2022-10-20 00:40] kirbsauce commented on #403
testing

[2022-10-20 00:40] kirbsauce commented on #403
testing

[2022-10-20 00:40] #403 closed

[2022-10-20 00:46] kirbsauce opened #404 "Doc Candidate - ZD Ticket 2853"
kubecost.zendesk.com/agent/tickets/2853

[2022-10-20 00:51] kirbsauce opened #405 "Doc Candidate - ZD Ticket 2854"
url: https://kubecost.zendesk.com/agent/tickets/2854

[2022-10-20 00:52] kirbsauce commented on #404
test

[2022-10-20 00:52] #404 closed

[2022-10-20 00:53] kirbsauce commented on #405
test

[2022-10-20 00:53] #405 closed

[2022-10-20 04:10] dwbrown2 opened #406 "Document request: reference OpenCost spec in Allocation help docs"
Proposal is that we should reference the [OpenCost spec](https://github.com/opencost/opencost/tree/develop/spec) as part of the block below.

[code]

Existing docs link: https://guide.kubecost.com/hc/en-us/articles/4407601807383#cost-metric-1

[2022-10-20 16:32] AjayTripathy opened #407 "Document: Ingress errors on saving UI elements in Azure."
https://kubecost.slack.com/archives/G01MN4R06MB/p1666282046329059?thread_ts=1666199835.677019&cid=G01MN4R06MB

Related: https://github.com/kubecost/kubecost-cost-model/issues/992#issuecomment-1285726991

Let's get all workarounds and theories documented while we work on a potential fix

[2022-10-20 19:35] jcharcalla opened #409 "Document: Use of productID on AWS when using the cloud-integration.json"
Document the requirement of `kubecostProductConfigs.projectID` on the AWS section of this page and explain that it is the fix for "No Account" being seen on the assets page. https://guide.kubecost.com/hc/en-us/articles/4407595968919#aws-1

[2022-10-20 22:10] jcharcalla commented on #399
PR ready for review. https://github.com/kubecost/docs/pull/411

[2022-10-20 22:22] jcharcalla commented on #409
PR ready for review.

[2022-10-21 15:31] bstuder99 opened #415 "Auditing page is now outdated, no longer supported by WebUI"
I've been updating all articles with WebUI screenshots, and I noticed I cannot recreate these screenshots for an Auditing menu depicted in the article: https://guide.kubecost.com/hc/en-us/articles/4407595925271-Auditing. It looks like this is now outdated, and so the plan should be to either rewrite this for accuracy, or remove it entirely. Thoughts?

[2022-10-21 15:53] dwbrown2 commented on #415
We've effectively moved the auditing experience into Allocation now that you can drilldown and view rates/costs for each individual container in your infra.

[2022-10-21 17:23] bstuder99 commented on #415
Ok. Niko was in favor of just scrubbing the article entirely in a separate Slack thread

[2022-10-22 20:53] #409 closed

[2022-10-25 22:27] AjayTripathy opened #421 "Document .Values.kubecostModel.promClusterIDLabel as the correct way to configure the label used to delineate clusters other than cluster_id"
https://github.com/kubecost/cost-analyzer-helm-chart/blob/develop/cost-analyzer/templates/cost-analyzer-deployment-template.yaml#L802

Let's document somewhere (perhaps in setup of non-thanos clusters? BYO thanos?) that this is the flag used to configure cluster identifier labels.

[2022-10-28 14:04] bstuder99 opened #425 "Create an article for CVEs"
At the moment we don't have any documentation for common vulnerabilities and exposures. In response to [this issue](https://github.com/kubecost/kubecost-cost-model/issues/1018), we may seek to create user content on the subject. At the moment I need more clarifying details and will try to rope some subject matter experts into the discussion.

[2022-10-28 14:43] jcharcalla opened #426 "Is Node exporter optional?"
Our [docs ](https://guide.kubecost.com/hc/en-us/articles/4407595941015-Custom-Prometheus) say node-exporter is optional. We should test this and document what impacts if any result from disabling it (ie: less functionality).

[2022-10-28 15:46] dwbrown2 commented on #426
This should be documented somewhere but probably worth testing on latest. @AjayTripathy do you know where?

[2022-10-28 16:06] jcharcalla commented on #426
I'll look through the docs again to see if I can find any already.

[2022-10-28 16:17] jcharcalla commented on #426
So there is this...

https://guide.kubecost.com/hc/en-us/articles/6446286863383-Tuning-Resource-Consumption#disable-or-stop-scraping-node-exporter
"Node-exporter is optional. Some health alerts will be disabled if node-exporter is disabled, but savings recommendations and core cost allocation will function as normal"

And then on this page: https://guide.kubecost.com/hc/en-us/articles/442325658255

[2022-10-28 22:47] dwbrown2 opened #427 "[Docs update request] Unhelpful GCP link"
This GCP link in this doc isn't helpful for settings up a complete GCP cloud integration with Kubecost -- https://guide.kubecost.com/hc/en-us/articles/4412369153687-Cloud-Integrations

Can we update it so point to our own guide? I suspect there are other links that aren't optimal on this page, but I haven't tested.

cc @bstuder99

[2022-10-28 22:47] dwbrown2 commented on #427
I would propose that we link here: https://guide.kubecost.com/hc/en-us/articles/4407601816087

[2022-10-31 14:34] bstuder99 commented on #427
Done, https://github.com/kubecost/docs/commit/d65920e9b082a9aa3d33f6e96d5d4a2ab713c112

[2022-11-01 16:22] bstuder99 commented on #427
How do you mean? I just replaced the Google link with the article you mentioned.

[2022-11-01 16:22] #415 closed

[2022-11-01 16:24] bstuder99 commented on #394
Hey Ajay, I'd be able to implement these docs changes as part of a larger overhaul with the webUI release. Could you elaborate more on the sliders you mention?

[2022-11-01 16:32] bstuder99 commented on #426
If we have a list of the key features that aren't accessible when the node exporter is disabled, I can start adding this to the docs.

[2022-11-01 16:33] bstuder99 commented on #426
I would say it should be added to the Tuning Resource Consumption page, where we already have a section dedicated to the subject

[2022-11-01 16:45] AjayTripathy opened #429 "Document Bug Bounty Program"
Proposal: add
`We pay $250 for unique accepted security bug reports submitted to vulnerability-report@kubecost.com`

to our documentation.

[2022-11-02 03:11] dwbrown2 commented on #427
This link does not show you how to integrate Azure billing data with Kubecost: https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/tutorial-export-acm-data?tabs=azure-portal

[2022-11-02 15:51] bstuder99 commented on #427
So just to be clear, on top of the GCP link we've replaced with a link to our own GCP OOC doc, we should also replace the current Azure link with our Azure OOC doc (this one: https://guide.kubecost.com/hc/en-us/articles/4407595936023-Adding-Azure-Out-of-Cluster-Cluster-Costs-into-Kubecost)

[2022-11-03 14:46] bstuder99 commented on #429
Interesting idea. We have a few docs this content could go to. Has the protocol ever been implemented? I'm curious how often this has happened. We should also add a few more lines for the user explaining what to expect from their side; is there a form/template they should fill out describing the bug? How long would we take to test and respond to them, etc.

We have our main security doc that is mo

[2022-11-03 16:27] AjayTripathy commented on #429
It's different from our bug report since it's a security thing. https://www.facebook.com/whitehat is an example page.

[2022-11-03 16:28] bstuder99 opened #432 "Creation of a Federated ETL doc"
I have been discussing with Kaelan and Adam the creation of a Federated ETL doc using content from a Google Doc linked in the release notes. I'm finding the technical terminology described a bit dense and confusing, so I'm hoping I can get some feedback on my comments to clear things up before the doc is published. I will link the PR here when I have the official draft.

Doc: https://docs.google.c

[2022-11-03 16:49] bstuder99 commented on #429
Ok, so are you recommending we create a new doc for this content?

[2022-11-03 16:50] bstuder99 commented on #429
Anyways, I'm curious how fleshed out our policy is compared to the FB example linked. How would payment be distributed? Do we have stipulations on who is allowed to submit a bug report? Protocol, etc.

[2022-11-03 18:06] kaelanspatel commented on #432
@bstuder99 Thanks for taking a look Brett. I've edited the docs and responded to your feedback. I know some of the terminology (Federated vs Federator) is confusing, hopefully its a little more clear now.

[2022-11-03 19:12] bstuder99 commented on #432
Great, thanks for the feedback. Let me start drafting up a doc

[2022-11-04 20:29] bstuder99 commented on #399
We currently have this in the troubleshooting section of the ETL Backup page (https://guide.kubecost.com/hc/en-us/articles/4407601811095-ETL-Backup):

"In some scenarios like when using Memory store, setting kubecostModel.etlHourlyStoreDurationHours to a value of 48 hours or less will cause ETL backup files to become truncated. The current recomendation is to keep [etlHourlyStoreDurationHours](htt

[2022-11-04 20:29] bstuder99 commented on #399
Ok, is this resolved?

[2022-11-04 20:29] #399 closed

[2022-11-04 20:30] bstuder99 commented on #432
Doc is live https://guide.kubecost.com/hc/en-us/articles/10015110616599-Federated-ETL

[2022-11-04 20:30] #432 closed

[2022-11-07 20:05] michaelmdresser commented on #425
We have nightly image builds which include a post-build vulnerability scan using Aqua's Trivy. (CVE and vuln are _often_ interchangeable words in this context).
- Our documentation on this automation: https://github.com/kubecost/integration-ci-cd#nightly-image-builds
- The specific Trivy GH Action we use: https://github.com/aquasecurity/trivy-action
- Trivy: https://github.com/aquasecurity/trivy

[2022-11-07 20:06] michaelmdresser commented on #425
We also scan some/all of our Helm chart dependencies on a nightly basis: https://github.com/kubecost/integration-ci-cd/blob/main/.github/workflows/nightly-scan-dependencies.yaml

[2022-11-09 20:23] bstuder99 commented on #425
Doc PR listed here https://github.com/kubecost/docs/pull/438

[2022-11-09 20:23] #425 closed

[2022-11-16 16:18] bstuder99 commented on #406
Ok. Just because the OpenCost spec is pretty extensive, should we either replace the FAQ link or just add it right after?

[2022-11-16 19:14] dwbrown2 commented on #406
I'd propose just replace FAQ link with something like, "See the OpenCost Spec for more details...?"

[2022-11-16 20:16] bstuder99 commented on #406
Done https://github.com/kubecost/docs/commit/4f06decea268cad98e0f2fc01a413cc454a08a9b

[2022-11-16 20:16] #406 closed

[2022-11-22 18:30] keithhand opened #455 "Add Custom Provider Pipeline to node-pricing.md"
doc to add information from: https://docs.google.com/document/d/1GgSOl_W_zchO8Yc66H4o5D37Sj46FZTWx0oU64Tq-RM/edit